[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/verifiable-draws"]
	path = lib/verifiable-draws
	url = https://github.com/lancelot-c/verifiable-draws
